body {
    background-color: white;
    margin: 0;
    padding: 0;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
  
    width: 90%;
    border-radius: 10px;
    margin: 20px;
  }
  
  td, th {
    border: 1px solid #ddd;
 
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #001838;
    color: white;
  }
  